<div>
    <h2 id="page-heading">
        <span jhiTranslate="defterTakipApp.malzemeTakip.home.title">Malzeme Takips</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-malzeme-takip" [routerLink]="['/malzeme-takip/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="defterTakipApp.malzemeTakip.home.createLabel">
            Create new Malzeme Takip
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="malzemeTakips">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="defterTakipApp.malzemeTakip.miktar">Miktar</span></th>
            <th><span jhiTranslate="defterTakipApp.malzemeTakip.aciklama">Aciklama</span></th>
            <th><span jhiTranslate="defterTakipApp.malzemeTakip.tarih">Tarih</span></th>
            <th><span jhiTranslate="defterTakipApp.malzemeTakip.ekip">Ekip</span></th>
            <th><span jhiTranslate="defterTakipApp.malzemeTakip.malzeme">Malzeme</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let malzemeTakip of malzemeTakips ;trackBy: trackId">
                <td><a [routerLink]="['/malzeme-takip', malzemeTakip.id, 'view' ]">{{malzemeTakip.id}}</a></td>
                <td>{{malzemeTakip.miktar}}</td>
                <td>{{malzemeTakip.aciklama}}</td>
                <td>{{malzemeTakip.tarih | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="malzemeTakip.ekip">
                        <a [routerLink]="['../ekip', malzemeTakip.ekip?.id, 'view' ]" >{{malzemeTakip.ekip?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="malzemeTakip.malzeme">
                        <a [routerLink]="['../malzeme', malzemeTakip.malzeme?.id, 'view' ]" >{{malzemeTakip.malzeme?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/malzeme-takip', malzemeTakip.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/malzeme-takip', malzemeTakip.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'malzeme-takip', { outlets: { popup: malzemeTakip.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
