<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="malzemeTakip">
            <h2><span jhiTranslate="defterTakipApp.malzemeTakip.detail.title">Malzeme Takip</span> {{malzemeTakip.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="defterTakipApp.malzemeTakip.miktar">Miktar</span></dt>
                <dd>
                    <span>{{malzemeTakip.miktar}}</span>
                </dd>
                <dt><span jhiTranslate="defterTakipApp.malzemeTakip.aciklama">Aciklama</span></dt>
                <dd>
                    <span>{{malzemeTakip.aciklama}}</span>
                </dd>
                <dt><span jhiTranslate="defterTakipApp.malzemeTakip.tarih">Tarih</span></dt>
                <dd>
                    <span>{{malzemeTakip.tarih}}</span>
                </dd>
                <dt><span jhiTranslate="defterTakipApp.malzemeTakip.malzemeAlanEkip">Malzeme Alan Ekip</span></dt>
                <dd>
                    <div *ngIf="malzemeTakip.malzemeAlanEkip">
                        <a [routerLink]="['/ekip', malzemeTakip.malzemeAlanEkip?.id, 'view']">{{malzemeTakip.malzemeAlanEkip?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="defterTakipApp.malzemeTakip.malzemeTakipProje">Malzeme Takip Proje</span></dt>
                <dd>
                    <div *ngIf="malzemeTakip.malzemeTakipProje">
                        <a [routerLink]="['/malzeme', malzemeTakip.malzemeTakipProje?.id, 'view']">{{malzemeTakip.malzemeTakipProje?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/malzeme-takip', malzemeTakip.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
