<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ekip-heading" jhiTranslate="defterTakipApp.ekip.home.createOrEditLabel">Create or edit a Ekip</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ekip.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ekip.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.ad" for="field_ad">Ad</label>
                    <input type="text" class="form-control" name="ad" id="field_ad"
                        [(ngModel)]="ekip.ad" required minlength="2"/>
                    <div [hidden]="!(editForm.controls.ad?.dirty && editForm.controls.ad?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ad?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ad?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.telefon" for="field_telefon">Telefon</label>
                    <input type="text" class="form-control" name="telefon" id="field_telefon"
                        [(ngModel)]="ekip.telefon" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.eposta" for="field_eposta">Eposta</label>
                    <input type="text" class="form-control" name="eposta" id="field_eposta"
                        [(ngModel)]="ekip.eposta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.turu" for="field_turu">Turu</label>
                    <select class="form-control" name="turu" [(ngModel)]="ekip.turu" id="field_turu" >
                        <option value="MAASLI">{{'defterTakipApp.PersonelTuru.MAASLI' | translate}}</option>
                        <option value="GOTURU">{{'defterTakipApp.PersonelTuru.GOTURU' | translate}}</option>
                        <option value="YEVMIYE">{{'defterTakipApp.PersonelTuru.YEVMIYE' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.ekipSorumlu" for="field_ekipSorumlu">Ekip Sorumlu</label>
                    <select class="form-control" id="field_ekipSorumlu" name="ekipSorumlu" [(ngModel)]="ekip.ekipSorumlu"  required>
                        <option *ngIf="!editForm.value.ekipSorumlu" [ngValue]="null" selected></option>
                        <option [ngValue]="personelOption.id === ekip.ekipSorumlu?.id ? ekip.ekipSorumlu : personelOption" *ngFor="let personelOption of personels; trackBy: trackPersonelById">{{personelOption.ad}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.ekipSorumlu?.dirty && editForm.controls.ekipSorumlu?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ekipSorumlu?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.mudurluk" for="field_mudurluk">Mudurluk</label>
                    <select class="form-control" id="field_mudurluk" name="mudurluk" [(ngModel)]="ekip.mudurluk" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mudurlukOption.id === ekip.mudurluk?.id ? ekip.mudurluk : mudurlukOption" *ngFor="let mudurlukOption of mudurluks; trackBy: trackMudurlukById">{{mudurlukOption.ad}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="defterTakipApp.ekip.ekipPersonel" for="field_ekipPersonel">Ekip Personel</label>
                    <select class="form-control" id="field_ekipPersonel" multiple name="ekipPersonel" [(ngModel)]="ekip.ekipPersonels">
                        <option [ngValue]="getSelected(ekip.ekipPersonels, personelOption)" *ngFor="let personelOption of personels; trackBy: trackPersonelById">{{personelOption.ad}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
