<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ekip-heading" jhiTranslate="defterTakipApp.ekip.home.createOrEditLabel">Create or edit a Ekip</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ekip.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ekip.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.ad" for="field_ad">Ad</label>
                    <input type="text" class="form-control" name="ad" id="field_ad"
                        [(ngModel)]="ekip.ad" required minlength="2"/>
                    <div [hidden]="!(editForm.controls.ad?.dirty && editForm.controls.ad?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ad?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ad?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.telefonNo" for="field_telefonNo">Telefon No</label>
                    <input type="text" class="form-control" name="telefonNo" id="field_telefonNo"
                        [(ngModel)]="ekip.telefonNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.epostaAdresi" for="field_epostaAdresi">Eposta Adresi</label>
                    <input type="text" class="form-control" name="epostaAdresi" id="field_epostaAdresi"
                        [(ngModel)]="ekip.epostaAdresi" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.taseronMu" for="field_taseronMu">Taseron Mu</label>
                    <input type="checkbox" class="form-control" name="taseronMu" id="field_taseronMu"
                        [(ngModel)]="ekip.taseronMu" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.aktifMi" for="field_aktifMi">Aktif Mi</label>
                    <input type="checkbox" class="form-control" name="aktifMi" id="field_aktifMi"
                        [(ngModel)]="ekip.aktifMi" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.sorumlu" for="field_sorumlu">Sorumlu</label>
                    <select class="form-control" id="field_sorumlu" name="sorumlu" [(ngModel)]="ekip.sorumlu">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="calisanOption.id === ekip.sorumlu?.id ? ekip.sorumlu : calisanOption" *ngFor="let calisanOption of sorumlus; trackBy: trackCalisanById">{{calisanOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.ekip.calisan" for="field_calisan">Calisan</label>
                    <select class="form-control" id="field_calisan" name="calisan" [(ngModel)]="ekip.calisan" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="calisanOption.id === ekip.calisan?.id ? ekip.calisan : calisanOption" *ngFor="let calisanOption of calisans; trackBy: trackCalisanById">{{calisanOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
