<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-hakedis-detay-heading" jhiTranslate="defterTakipApp.hakedisDetay.home.createOrEditLabel">Create or edit a Hakedis Detay</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!hakedisDetay.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="hakedisDetay.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.hakedisDetay.miktar" for="field_miktar">Miktar</label>
                    <input type="number" class="form-control" name="miktar" id="field_miktar"
                        [(ngModel)]="hakedisDetay.miktar" required/>
                    <div [hidden]="!(editForm.controls.miktar?.dirty && editForm.controls.miktar?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.miktar?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.miktar?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.hakedisDetay.hakedis" for="field_hakedis">Hakedis</label>
                    <select class="form-control" id="field_hakedis" name="hakedis" [(ngModel)]="hakedisDetay.hakedis"  required>
                        <option *ngIf="!editForm.value.hakedis" [ngValue]="null" selected></option>
                        <option [ngValue]="hakedisOption.id === hakedisDetay.hakedis?.id ? hakedisDetay.hakedis : hakedisOption" *ngFor="let hakedisOption of hakedis; trackBy: trackHakedisById">{{hakedisOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.hakedis?.dirty && editForm.controls.hakedis?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.hakedis?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.hakedisDetay.poz" for="field_poz">Poz</label>
                    <select class="form-control" id="field_poz" name="poz" [(ngModel)]="hakedisDetay.poz"  required>
                        <option *ngIf="!editForm.value.poz" [ngValue]="null" selected></option>
                        <option [ngValue]="pozOption.id === hakedisDetay.poz?.id ? hakedisDetay.poz : pozOption" *ngFor="let pozOption of pozs; trackBy: trackPozById">{{pozOption.ad}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.poz?.dirty && editForm.controls.poz?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.poz?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
