<div>
    <h2 id="page-heading">
        <span jhiTranslate="defterTakipApp.proje.home.title">Projes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proje" [routerLink]="['/proje/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="defterTakipApp.proje.home.createLabel">
            Create new Proje
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="projes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ad"><span jhiTranslate="defterTakipApp.proje.ad">Ad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="protokolNo"><span jhiTranslate="defterTakipApp.proje.protokolNo">Protokol No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="turu.ad"><span jhiTranslate="defterTakipApp.proje.turu">Turu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="mudurluk.ad"><span jhiTranslate="defterTakipApp.proje.mudurluk">Mudurluk</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="durumu"><span jhiTranslate="defterTakipApp.proje.durumu">Durumu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tarih"><span jhiTranslate="defterTakipApp.proje.tarih">Tarih</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baslamaTarihi"><span jhiTranslate="defterTakipApp.proje.baslamaTarihi">Baslama Tarihi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bitisTarihi"><span jhiTranslate="defterTakipApp.proje.bitisTarihi">Bitis Tarihi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="aciklama"><span jhiTranslate="defterTakipApp.proje.aciklama">Aciklama</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="resim"><span jhiTranslate="defterTakipApp.proje.resim">Resim</span> <fa-icon [icon]="'sort'"></fa-icon></th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proje of projes ;trackBy: trackId">
                <td><a [routerLink]="['/proje', proje.id, 'view' ]">{{proje.id}}</a></td>
                <td>{{proje.ad}}</td>
                <td>{{proje.protokolNo}}</td>
                <td>
                    <div *ngIf="proje.turu">
                        <a [routerLink]="['../proje-turu', proje.turu?.id, 'view' ]" >{{proje.turu?.ad}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="proje.mudurluk">
                        <a [routerLink]="['../mudurluk', proje.mudurluk?.id, 'view' ]" >{{proje.mudurluk?.ad}}</a>
                    </div>
                </td>
                <td jhiTranslate="{{'defterTakipApp.IsDurumu.' + proje.durumu}}">{{proje.durumu}}</td>
                <td>{{proje.tarih | date:'mediumDate'}}</td>
                <td>{{proje.baslamaTarihi | date:'mediumDate'}}</td>
                <td>{{proje.bitisTarihi | date:'mediumDate'}}</td>
                <td>{{proje.aciklama}}</td>
                <td>
                    <a *ngIf="proje.resim" (click)="openFile(proje.resimContentType, proje.resim)">
                        <img [src]="'data:' + proje.resimContentType + ';base64,' + proje.resim" style="max-height: 30px;" alt="proje image"/>
                    </a>
                    <span *ngIf="proje.resim">{{proje.resimContentType}}, {{byteSize(proje.resim)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/proje', proje.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proje', proje.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'proje', { outlets: { popup: proje.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="projes && projes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
