<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="iscilik">
            <h2><span jhiTranslate="defterTakipApp.iscilik.detail.title">Iscilik</span> {{iscilik.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="defterTakipApp.iscilik.miktar">Miktar</span></dt>
                <dd>
                    <span>{{iscilik.miktar}}</span>
                </dd>
                <dt><span jhiTranslate="defterTakipApp.iscilik.aciklama">Aciklama</span></dt>
                <dd>
                    <span>{{iscilik.aciklama}}</span>
                </dd>
                <dt><span jhiTranslate="defterTakipApp.iscilik.resim">Resim</span></dt>
                <dd>
                    <div *ngIf="iscilik.resim">
                        <a (click)="openFile(iscilik.resimContentType, iscilik.resim)" jhiTranslate="entity.action.open">open</a>
                        {{iscilik.resimContentType}}, {{byteSize(iscilik.resim)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="defterTakipApp.iscilik.ekip">Ekip</span></dt>
                <dd>
                    <div *ngIf="iscilik.ekip">
                        <a [routerLink]="['/ekip', iscilik.ekip?.id, 'view']">{{iscilik.ekip?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="defterTakipApp.iscilik.birim">Birim</span></dt>
                <dd>
                    <div *ngIf="iscilik.birim">
                        <a [routerLink]="['/birim', iscilik.birim?.id, 'view']">{{iscilik.birim?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/iscilik', iscilik.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
