<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-iscilik-heading" jhiTranslate="defterTakipApp.iscilik.home.createOrEditLabel">Create or edit a Iscilik</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!iscilik.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="iscilik.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.iscilik.ad" for="field_ad">Ad</label>
                    <input type="text" class="form-control" name="ad" id="field_ad"
                        [(ngModel)]="iscilik.ad" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.iscilik.aciklama" for="field_aciklama">Aciklama</label>
                    <input type="text" class="form-control" name="aciklama" id="field_aciklama"
                        [(ngModel)]="iscilik.aciklama" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.iscilik.detay" for="field_detay">Detay</label>
                    <textarea class="form-control" name="detay" id="field_detay"
                        [(ngModel)]="iscilik.detay" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.iscilik.durumu" for="field_durumu">Durumu</label>
                    <select class="form-control" name="durumu" [(ngModel)]="iscilik.durumu" id="field_durumu" >
                        <option value="BEKLIYOR">{{'defterTakipApp.IscilikDurumu.BEKLIYOR' | translate}}</option>
                        <option value="BEKLIYOR_MALZEME">{{'defterTakipApp.IscilikDurumu.BEKLIYOR_MALZEME' | translate}}</option>
                        <option value="BEKLIYOR_RUHSAT">{{'defterTakipApp.IscilikDurumu.BEKLIYOR_RUHSAT' | translate}}</option>
                        <option value="CALISILIYOR">{{'defterTakipApp.IscilikDurumu.CALISILIYOR' | translate}}</option>
                        <option value="TAMAMLANDI">{{'defterTakipApp.IscilikDurumu.TAMAMLANDI' | translate}}</option>
                        <option value="TAMAMLANDI_EKSIK_VAR">{{'defterTakipApp.IscilikDurumu.TAMAMLANDI_EKSIK_VAR' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.iscilik.resim" for="field_resim">Resim</label>
                    <div>
                        <div *ngIf="iscilik.resim" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(iscilik.resimContentType, iscilik.resim)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{iscilik.resimContentType}}, {{byteSize(iscilik.resim)}}</span>
                            <button type="button" (click)="iscilik.resim=null;iscilik.resimContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_resim" (change)="setFileData($event, iscilik, 'resim', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="resim" id="field_resim"
                        [(ngModel)]="iscilik.resim" />
                    <input type="hidden" class="form-control" name="resimContentType" id="field_resimContentType"
                        [(ngModel)]="iscilik.resimContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.iscilik.iscilikEkip" for="field_iscilikEkip">Iscilik Ekip</label>
                    <select class="form-control" id="field_iscilikEkip" name="iscilikEkip" [(ngModel)]="iscilik.iscilikEkip" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ekipOption.id === iscilik.iscilikEkip?.id ? iscilik.iscilikEkip : ekipOption" *ngFor="let ekipOption of ekips; trackBy: trackEkipById">{{ekipOption.ad}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.iscilik.iscilik" for="field_iscilik">Iscilik</label>
                    <select class="form-control" id="field_iscilik" name="iscilik" [(ngModel)]="iscilik.iscilik" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projeOption.id === iscilik.iscilik?.id ? iscilik.iscilik : projeOption" *ngFor="let projeOption of projes; trackBy: trackProjeById">{{projeOption.ad}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
