<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-stok-takip-heading" jhiTranslate="defterTakipApp.stokTakip.home.createOrEditLabel">Create or edit a Stok Takip</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!stokTakip.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="stokTakip.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.stokTakip.miktar" for="field_miktar">Miktar</label>
                    <input type="number" class="form-control" name="miktar" id="field_miktar"
                        [(ngModel)]="stokTakip.miktar" required/>
                    <div [hidden]="!(editForm.controls.miktar?.dirty && editForm.controls.miktar?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.miktar?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.miktar?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.stokTakip.aciklama" for="field_aciklama">Aciklama</label>
                    <textarea class="form-control" name="aciklama" id="field_aciklama"
                        [(ngModel)]="stokTakip.aciklama" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.stokTakip.tarih" for="field_tarih">Tarih</label>
                    <div class="input-group">
                        <input id="field_tarih" type="text" class="form-control" name="tarih" ngbDatepicker  #tarihDp="ngbDatepicker" [(ngModel)]="stokTakip.tarih"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="tarihDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.stokTakip.turu" for="field_turu">Turu</label>
                    <select class="form-control" name="turu" [(ngModel)]="stokTakip.turu" id="field_turu" >
                        <option value="GIRIS">{{'defterTakipApp.StokHareketTuru.GIRIS' | translate}}</option>
                        <option value="CIKIS">{{'defterTakipApp.StokHareketTuru.CIKIS' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.stokTakip.ekip" for="field_ekip">Ekip</label>
                    <select class="form-control" id="field_ekip" name="ekip" [(ngModel)]="stokTakip.ekip"  required>
                        <option *ngIf="!editForm.value.ekip" [ngValue]="null" selected></option>
                        <option [ngValue]="ekipOption.id === stokTakip.ekip?.id ? stokTakip.ekip : ekipOption" *ngFor="let ekipOption of ekips; trackBy: trackEkipById">{{ekipOption.ad}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.ekip?.dirty && editForm.controls.ekip?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ekip?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.stokTakip.malzeme" for="field_malzeme">Malzeme</label>
                    <select class="form-control" id="field_malzeme" name="malzeme" [(ngModel)]="stokTakip.malzeme"  required>
                        <option *ngIf="!editForm.value.malzeme" [ngValue]="null" selected></option>
                        <option [ngValue]="malzemeOption.id === stokTakip.malzeme?.id ? stokTakip.malzeme : malzemeOption" *ngFor="let malzemeOption of malzemes; trackBy: trackMalzemeById">{{malzemeOption.ad}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.malzeme?.dirty && editForm.controls.malzeme?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.malzeme?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.stokTakip.depo" for="field_depo">Depo</label>
                    <select class="form-control" id="field_depo" name="depo" [(ngModel)]="stokTakip.depo" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="depoOption.id === stokTakip.depo?.id ? stokTakip.depo : depoOption" *ngFor="let depoOption of depos; trackBy: trackDepoById">{{depoOption.ad}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
