<div>
    <h2 id="page-heading">
        <span jhiTranslate="defterTakipApp.projeTuru.home.title">Proje Turus</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proje-turu" [routerLink]="['/proje-turu/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="defterTakipApp.projeTuru.home.createLabel">
            Create new Proje Turu
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="projeTurus">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="defterTakipApp.projeTuru.ad">Ad</span></th>
            <th><span jhiTranslate="defterTakipApp.projeTuru.aciklama">Aciklama</span></th>
            <th><span jhiTranslate="defterTakipApp.projeTuru.kisaltma">Kisaltma</span></th>
            <th><span jhiTranslate="defterTakipApp.projeTuru.proje">Proje</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let projeTuru of projeTurus ;trackBy: trackId">
                <td><a [routerLink]="['/proje-turu', projeTuru.id, 'view' ]">{{projeTuru.id}}</a></td>
                <td>{{projeTuru.ad}}</td>
                <td>{{projeTuru.aciklama}}</td>
                <td>{{projeTuru.kisaltma}}</td>
                <td>
                    <div *ngIf="projeTuru.proje">
                        <a [routerLink]="['../proje', projeTuru.proje?.id, 'view' ]" >{{projeTuru.proje?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/proje-turu', projeTuru.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proje-turu', projeTuru.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'proje-turu', { outlets: { popup: projeTuru.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
