<div>
    <h2 id="page-heading">
        <span jhiTranslate="defterTakipApp.santral.home.title">Santrals</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-santral" [routerLink]="['/santral/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="defterTakipApp.santral.home.createLabel">
            Create new Santral
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="santrals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ad"><span jhiTranslate="defterTakipApp.santral.ad">Ad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mudurluk.ad"><span jhiTranslate="defterTakipApp.santral.mudurluk">Mudurluk</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="santralSorumlu.ad"><span jhiTranslate="defterTakipApp.santral.santralSorumlu">Santral Sorumlu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let santral of santrals ;trackBy: trackId">
                <td><a [routerLink]="['/santral', santral.id, 'view' ]">{{santral.id}}</a></td>
                <td>{{santral.ad}}</td>
                <td>
                    <div *ngIf="santral.mudurluk">
                        <a [routerLink]="['../mudurluk', santral.mudurluk?.id, 'view' ]" >{{santral.mudurluk?.ad}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="santral.santralSorumlu">
                        <a [routerLink]="['../personel', santral.santralSorumlu?.id, 'view' ]" >{{santral.santralSorumlu?.ad}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/santral', santral.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/santral', santral.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'santral', { outlets: { popup: santral.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="santrals && santrals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
