<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="eskalasyonTuru">
            <h2><span jhiTranslate="defterTakipApp.eskalasyonTuru.detail.title">Eskalasyon Turu</span> {{eskalasyonTuru.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="defterTakipApp.eskalasyonTuru.ad">Ad</span></dt>
                <dd>
                    <span>{{eskalasyonTuru.ad}}</span>
                </dd>
                <dt><span jhiTranslate="defterTakipApp.eskalasyonTuru.aciklama">Aciklama</span></dt>
                <dd>
                    <span>{{eskalasyonTuru.aciklama}}</span>
                </dd>
                <dt><span jhiTranslate="defterTakipApp.eskalasyonTuru.kisaltma">Kisaltma</span></dt>
                <dd>
                    <span>{{eskalasyonTuru.kisaltma}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/eskalasyon-turu', eskalasyonTuru.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
