<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-malzeme-grubu-heading" jhiTranslate="defterTakipApp.malzemeGrubu.home.createOrEditLabel">Create or edit a Malzeme Grubu</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!malzemeGrubu.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="malzemeGrubu.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.malzemeGrubu.ad" for="field_ad">Ad</label>
                    <input type="text" class="form-control" name="ad" id="field_ad"
                        [(ngModel)]="malzemeGrubu.ad" required/>
                    <div [hidden]="!(editForm.controls.ad?.dirty && editForm.controls.ad?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ad?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.malzemeGrubu.aciklama" for="field_aciklama">Aciklama</label>
                    <input type="text" class="form-control" name="aciklama" id="field_aciklama"
                        [(ngModel)]="malzemeGrubu.aciklama" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.malzemeGrubu.aktifMi" for="field_aktifMi">Aktif Mi</label>
                    <input type="checkbox" class="form-control" name="aktifMi" id="field_aktifMi"
                        [(ngModel)]="malzemeGrubu.aktifMi" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="defterTakipApp.malzemeGrubu.malzeme" for="field_malzeme">Malzeme</label>
                    <select class="form-control" id="field_malzeme" multiple name="malzeme" [(ngModel)]="malzemeGrubu.malzemes">
                        <option [ngValue]="getSelected(malzemeGrubu.malzemes, malzemeOption)" *ngFor="let malzemeOption of malzemes; trackBy: trackMalzemeById">{{malzemeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
