<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-personel-heading" jhiTranslate="defterTakipApp.personel.home.createOrEditLabel">Create or edit a Personel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!personel.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="personel.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.tckimlikno" for="field_tckimlikno">Tckimlikno</label>
                    <input type="number" class="form-control" name="tckimlikno" id="field_tckimlikno"
                        [(ngModel)]="personel.tckimlikno" required/>
                    <div [hidden]="!(editForm.controls.tckimlikno?.dirty && editForm.controls.tckimlikno?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tckimlikno?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.tckimlikno?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.ad" for="field_ad">Ad</label>
                    <input type="text" class="form-control" name="ad" id="field_ad"
                        [(ngModel)]="personel.ad" required minlength="2"/>
                    <div [hidden]="!(editForm.controls.ad?.dirty && editForm.controls.ad?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ad?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ad?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.cepTelefon" for="field_cepTelefon">Cep Telefon</label>
                    <input type="text" class="form-control" name="cepTelefon" id="field_cepTelefon"
                        [(ngModel)]="personel.cepTelefon" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.sabitTelefon" for="field_sabitTelefon">Sabit Telefon</label>
                    <input type="text" class="form-control" name="sabitTelefon" id="field_sabitTelefon"
                        [(ngModel)]="personel.sabitTelefon" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.eposta" for="field_eposta">Eposta</label>
                    <input type="text" class="form-control" name="eposta" id="field_eposta"
                        [(ngModel)]="personel.eposta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.cinsiyet" for="field_cinsiyet">Cinsiyet</label>
                    <select class="form-control" name="cinsiyet" [(ngModel)]="personel.cinsiyet" id="field_cinsiyet" >
                        <option value="ERKEK">{{'defterTakipApp.Cinsiyet.ERKEK' | translate}}</option>
                        <option value="KADIN">{{'defterTakipApp.Cinsiyet.KADIN' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.egitimDurumu" for="field_egitimDurumu">Egitim Durumu</label>
                    <select class="form-control" name="egitimDurumu" [(ngModel)]="personel.egitimDurumu" id="field_egitimDurumu" >
                        <option value="ILKOKUL">{{'defterTakipApp.EgitimDurumu.ILKOKUL' | translate}}</option>
                        <option value="ORTAOKUL">{{'defterTakipApp.EgitimDurumu.ORTAOKUL' | translate}}</option>
                        <option value="LISE">{{'defterTakipApp.EgitimDurumu.LISE' | translate}}</option>
                        <option value="ONLISANS">{{'defterTakipApp.EgitimDurumu.ONLISANS' | translate}}</option>
                        <option value="LISANS">{{'defterTakipApp.EgitimDurumu.LISANS' | translate}}</option>
                        <option value="YUKSEK_LISANS">{{'defterTakipApp.EgitimDurumu.YUKSEK_LISANS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.kanGrubu" for="field_kanGrubu">Kan Grubu</label>
                    <select class="form-control" name="kanGrubu" [(ngModel)]="personel.kanGrubu" id="field_kanGrubu" >
                        <option value="A_RH_POZITIF">{{'defterTakipApp.KanGrubu.A_RH_POZITIF' | translate}}</option>
                        <option value="A_RH_NEGATIF">{{'defterTakipApp.KanGrubu.A_RH_NEGATIF' | translate}}</option>
                        <option value="B_RH_NEGATIF">{{'defterTakipApp.KanGrubu.B_RH_NEGATIF' | translate}}</option>
                        <option value="B_RH_POZITIF">{{'defterTakipApp.KanGrubu.B_RH_POZITIF' | translate}}</option>
                        <option value="O_RH_POZITIF">{{'defterTakipApp.KanGrubu.O_RH_POZITIF' | translate}}</option>
                        <option value="O_RH_NEGATIF">{{'defterTakipApp.KanGrubu.O_RH_NEGATIF' | translate}}</option>
                        <option value="AB_RH_POZITIF">{{'defterTakipApp.KanGrubu.AB_RH_POZITIF' | translate}}</option>
                        <option value="AB_RH_NEGATIF">{{'defterTakipApp.KanGrubu.AB_RH_NEGATIF' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.personelTuru" for="field_personelTuru">Personel Turu</label>
                    <select class="form-control" name="personelTuru" [(ngModel)]="personel.personelTuru" id="field_personelTuru" >
                        <option value="MAASLI">{{'defterTakipApp.PersonelTuru.MAASLI' | translate}}</option>
                        <option value="GOTURU">{{'defterTakipApp.PersonelTuru.GOTURU' | translate}}</option>
                        <option value="YEVMIYE">{{'defterTakipApp.PersonelTuru.YEVMIYE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.ucret" for="field_ucret">Ucret</label>
                    <input type="number" class="form-control" name="ucret" id="field_ucret"
                        [(ngModel)]="personel.ucret" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.iban" for="field_iban">Iban</label>
                    <input type="text" class="form-control" name="iban" id="field_iban"
                        [(ngModel)]="personel.iban" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.medeniHali" for="field_medeniHali">Medeni Hali</label>
                    <select class="form-control" name="medeniHali" [(ngModel)]="personel.medeniHali" id="field_medeniHali" >
                        <option value="BEKAR">{{'defterTakipApp.MedeniHali.BEKAR' | translate}}</option>
                        <option value="EVLI">{{'defterTakipApp.MedeniHali.EVLI' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.dogumTarihi" for="field_dogumTarihi">Dogum Tarihi</label>
                    <div class="input-group">
                        <input id="field_dogumTarihi" type="text" class="form-control" name="dogumTarihi" ngbDatepicker  #dogumTarihiDp="ngbDatepicker" [(ngModel)]="personel.dogumTarihi"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dogumTarihiDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.girisTarihi" for="field_girisTarihi">Giris Tarihi</label>
                    <div class="input-group">
                        <input id="field_girisTarihi" type="text" class="form-control" name="girisTarihi" ngbDatepicker  #girisTarihiDp="ngbDatepicker" [(ngModel)]="personel.girisTarihi"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="girisTarihiDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.izinHakedis" for="field_izinHakedis">Izin Hakedis</label>
                    <input type="number" class="form-control" name="izinHakedis" id="field_izinHakedis"
                        [(ngModel)]="personel.izinHakedis" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.cikisTarihi" for="field_cikisTarihi">Cikis Tarihi</label>
                    <div class="input-group">
                        <input id="field_cikisTarihi" type="text" class="form-control" name="cikisTarihi" ngbDatepicker  #cikisTarihiDp="ngbDatepicker" [(ngModel)]="personel.cikisTarihi"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="cikisTarihiDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.resim" for="field_resim">Resim</label>
                    <div>
                        <img [src]="'data:' + personel.resimContentType + ';base64,' + personel.resim" style="max-height: 100px;" *ngIf="personel.resim" alt="personel image"/>
                        <div *ngIf="personel.resim" class="form-text text-danger clearfix">
                            <span class="pull-left">{{personel.resimContentType}}, {{byteSize(personel.resim)}}</span>
                            <button type="button" (click)="clearInputImage('resim', 'resimContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_resim" (change)="setFileData($event, personel, 'resim', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="resim" id="field_resim"
                        [(ngModel)]="personel.resim" />
                    <input type="hidden" class="form-control" name="resimContentType" id="field_resimContentType"
                        [(ngModel)]="personel.resimContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.dosya" for="field_dosya">Dosya</label>
                    <div>
                        <div *ngIf="personel.dosya" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(personel.dosyaContentType, personel.dosya)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{personel.dosyaContentType}}, {{byteSize(personel.dosya)}}</span>
                            <button type="button" (click)="personel.dosya=null;personel.dosyaContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_dosya" (change)="setFileData($event, personel, 'dosya', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="dosya" id="field_dosya"
                        [(ngModel)]="personel.dosya" />
                    <input type="hidden" class="form-control" name="dosyaContentType" id="field_dosyaContentType"
                        [(ngModel)]="personel.dosyaContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.not" for="field_not">Not</label>
                    <textarea class="form-control" name="not" id="field_not"
                        [(ngModel)]="personel.not" ></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.yonetici" for="field_yonetici">Yonetici</label>
                    <select class="form-control" id="field_yonetici" name="yonetici" [(ngModel)]="personel.yonetici" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personelOption.id === personel.yonetici?.id ? personel.yonetici : personelOption" *ngFor="let personelOption of personels; trackBy: trackPersonelById">{{personelOption.ad}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.personel.unvan" for="field_unvan">Unvan</label>
                    <select class="form-control" id="field_unvan" name="unvan" [(ngModel)]="personel.unvan" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unvanOption.id === personel.unvan?.id ? personel.unvan : unvanOption" *ngFor="let unvanOption of unvans; trackBy: trackUnvanById">{{unvanOption.ad}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
