<div>
    <h2 id="page-heading">
        <span jhiTranslate="defterTakipApp.personel.home.title">Personels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-personel" [routerLink]="['/personel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="defterTakipApp.personel.home.createLabel">
            Create new Personel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="personels">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tckimlikno"><span jhiTranslate="defterTakipApp.personel.tckimlikno">Tckimlikno</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ad"><span jhiTranslate="defterTakipApp.personel.ad">Ad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cepTelefon"><span jhiTranslate="defterTakipApp.personel.cepTelefon">Cep Telefon</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sabitTelefon"><span jhiTranslate="defterTakipApp.personel.sabitTelefon">Sabit Telefon</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="eposta"><span jhiTranslate="defterTakipApp.personel.eposta">Eposta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cinsiyet"><span jhiTranslate="defterTakipApp.personel.cinsiyet">Cinsiyet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="egitimDurumu"><span jhiTranslate="defterTakipApp.personel.egitimDurumu">Egitim Durumu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kanGrubu"><span jhiTranslate="defterTakipApp.personel.kanGrubu">Kan Grubu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personelTuru"><span jhiTranslate="defterTakipApp.personel.personelTuru">Personel Turu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ucret"><span jhiTranslate="defterTakipApp.personel.ucret">Ucret</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="iban"><span jhiTranslate="defterTakipApp.personel.iban">Iban</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="medeniHali"><span jhiTranslate="defterTakipApp.personel.medeniHali">Medeni Hali</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dogumTarihi"><span jhiTranslate="defterTakipApp.personel.dogumTarihi">Dogum Tarihi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="girisTarihi"><span jhiTranslate="defterTakipApp.personel.girisTarihi">Giris Tarihi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="izinHakedis"><span jhiTranslate="defterTakipApp.personel.izinHakedis">Izin Hakedis</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cikisTarihi"><span jhiTranslate="defterTakipApp.personel.cikisTarihi">Cikis Tarihi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resim"><span jhiTranslate="defterTakipApp.personel.resim">Resim</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dosya"><span jhiTranslate="defterTakipApp.personel.dosya">Dosya</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="not"><span jhiTranslate="defterTakipApp.personel.not">Not</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yonetici.ad"><span jhiTranslate="defterTakipApp.personel.yonetici">Yonetici</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unvan.ad"><span jhiTranslate="defterTakipApp.personel.unvan">Unvan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let personel of personels ;trackBy: trackId">
                <td><a [routerLink]="['/personel', personel.id, 'view' ]">{{personel.id}}</a></td>
                <td>{{personel.tckimlikno}}</td>
                <td>{{personel.ad}}</td>
                <td>{{personel.cepTelefon}}</td>
                <td>{{personel.sabitTelefon}}</td>
                <td>{{personel.eposta}}</td>
                <td jhiTranslate="{{'defterTakipApp.Cinsiyet.' + personel.cinsiyet}}">{{personel.cinsiyet}}</td>
                <td jhiTranslate="{{'defterTakipApp.EgitimDurumu.' + personel.egitimDurumu}}">{{personel.egitimDurumu}}</td>
                <td jhiTranslate="{{'defterTakipApp.KanGrubu.' + personel.kanGrubu}}">{{personel.kanGrubu}}</td>
                <td jhiTranslate="{{'defterTakipApp.PersonelTuru.' + personel.personelTuru}}">{{personel.personelTuru}}</td>
                <td>{{personel.ucret}}</td>
                <td>{{personel.iban}}</td>
                <td jhiTranslate="{{'defterTakipApp.MedeniHali.' + personel.medeniHali}}">{{personel.medeniHali}}</td>
                <td>{{personel.dogumTarihi | date:'mediumDate'}}</td>
                <td>{{personel.girisTarihi | date:'mediumDate'}}</td>
                <td>{{personel.izinHakedis}}</td>
                <td>{{personel.cikisTarihi | date:'mediumDate'}}</td>
                <td>
                    <a *ngIf="personel.resim" (click)="openFile(personel.resimContentType, personel.resim)">
                        <img [src]="'data:' + personel.resimContentType + ';base64,' + personel.resim" style="max-height: 30px;" alt="personel image"/>
                    </a>
                    <span *ngIf="personel.resim">{{personel.resimContentType}}, {{byteSize(personel.resim)}}</span>
                </td>
                <td>
                    <a *ngIf="personel.dosya" (click)="openFile(personel.dosyaContentType, personel.dosya)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="personel.dosya">{{personel.dosyaContentType}}, {{byteSize(personel.dosya)}}</span>
                </td>
                <td>{{personel.not}}</td>
                <td>
                    <div *ngIf="personel.yonetici">
                        <a [routerLink]="['../personel', personel.yonetici?.id, 'view' ]" >{{personel.yonetici?.ad}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="personel.unvan">
                        <a [routerLink]="['../unvan', personel.unvan?.id, 'view' ]" >{{personel.unvan?.ad}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/personel', personel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/personel', personel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'personel', { outlets: { popup: personel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="personels && personels.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
