<div>
    <h2 id="page-heading">
        <span jhiTranslate="defterTakipApp.mudurluk.home.title">Mudurluks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mudurluk" [routerLink]="['/mudurluk/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="defterTakipApp.mudurluk.home.createLabel">
            Create new Mudurluk
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mudurluks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="defterTakipApp.mudurluk.ad">Ad</span></th>
            <th><span jhiTranslate="defterTakipApp.mudurluk.adres">Adres</span></th>
            <th><span jhiTranslate="defterTakipApp.mudurluk.mudurlukSorumlu">Mudurluk Sorumlu</span></th>
            <th><span jhiTranslate="defterTakipApp.mudurluk.il">Il</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mudurluk of mudurluks ;trackBy: trackId">
                <td><a [routerLink]="['/mudurluk', mudurluk.id, 'view' ]">{{mudurluk.id}}</a></td>
                <td>{{mudurluk.ad}}</td>
                <td>{{mudurluk.adres}}</td>
                <td>
                    <div *ngIf="mudurluk.mudurlukSorumlu">
                        <a [routerLink]="['../personel', mudurluk.mudurlukSorumlu?.id, 'view' ]" >{{mudurluk.mudurlukSorumlu?.ad}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mudurluk.il">
                        <a [routerLink]="['../il', mudurluk.il?.id, 'view' ]" >{{mudurluk.il?.ad}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/mudurluk', mudurluk.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mudurluk', mudurluk.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'mudurluk', { outlets: { popup: mudurluk.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
