<div>
    <h2 id="page-heading">
        <span jhiTranslate="defterTakipApp.malzeme.home.title">Malzemes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-malzeme" [routerLink]="['/malzeme/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="defterTakipApp.malzeme.home.createLabel">
            Create new Malzeme
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="malzemes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ad"><span jhiTranslate="defterTakipApp.malzeme.ad">Ad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aciklama"><span jhiTranslate="defterTakipApp.malzeme.aciklama">Aciklama</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kisaltma"><span jhiTranslate="defterTakipApp.malzeme.kisaltma">Kisaltma</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fiyatMaliyet"><span jhiTranslate="defterTakipApp.malzeme.fiyatMaliyet">Fiyat Maliyet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let malzeme of malzemes ;trackBy: trackId">
                <td><a [routerLink]="['/malzeme', malzeme.id, 'view' ]">{{malzeme.id}}</a></td>
                <td>{{malzeme.ad}}</td>
                <td>{{malzeme.aciklama}}</td>
                <td>{{malzeme.kisaltma}}</td>
                <td>{{malzeme.fiyatMaliyet}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/malzeme', malzeme.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/malzeme', malzeme.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'malzeme', { outlets: { popup: malzeme.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="malzemes && malzemes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
