<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-malzeme-heading" jhiTranslate="defterTakipApp.malzeme.home.createOrEditLabel">Create or edit a Malzeme</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!malzeme.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="malzeme.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.malzeme.ad" for="field_ad">Ad</label>
                    <input type="text" class="form-control" name="ad" id="field_ad"
                        [(ngModel)]="malzeme.ad" required/>
                    <div [hidden]="!(editForm.controls.ad?.dirty && editForm.controls.ad?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ad?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.malzeme.aciklama" for="field_aciklama">Aciklama</label>
                    <input type="text" class="form-control" name="aciklama" id="field_aciklama"
                        [(ngModel)]="malzeme.aciklama" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.malzeme.kisaltma" for="field_kisaltma">Kisaltma</label>
                    <input type="text" class="form-control" name="kisaltma" id="field_kisaltma"
                        [(ngModel)]="malzeme.kisaltma" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.malzeme.fiyatGelis" for="field_fiyatGelis">Fiyat Gelis</label>
                    <input type="number" class="form-control" name="fiyatGelis" id="field_fiyatGelis"
                        [(ngModel)]="malzeme.fiyatGelis" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.malzeme.aktifMi" for="field_aktifMi">Aktif Mi</label>
                    <input type="checkbox" class="form-control" name="aktifMi" id="field_aktifMi"
                        [(ngModel)]="malzeme.aktifMi" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.malzeme.birim" for="field_birim">Birim</label>
                    <select class="form-control" id="field_birim" name="birim" [(ngModel)]="malzeme.birim">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="birimOption.id === malzeme.birim?.id ? malzeme.birim : birimOption" *ngFor="let birimOption of birims; trackBy: trackBirimById">{{birimOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.malzeme.poz" for="field_poz">Poz</label>
                    <select class="form-control" id="field_poz" name="poz" [(ngModel)]="malzeme.poz">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pozOption.id === malzeme.poz?.id ? malzeme.poz : pozOption" *ngFor="let pozOption of pozs; trackBy: trackPozById">{{pozOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.malzeme.iscilik" for="field_iscilik">Iscilik</label>
                    <select class="form-control" id="field_iscilik" name="iscilik" [(ngModel)]="malzeme.iscilik" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="iscilikOption.id === malzeme.iscilik?.id ? malzeme.iscilik : iscilikOption" *ngFor="let iscilikOption of isciliks; trackBy: trackIscilikById">{{iscilikOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
