<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-eskalasyon-heading" jhiTranslate="defterTakipApp.eskalasyon.home.createOrEditLabel">Create or edit a Eskalasyon</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!eskalasyon.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="eskalasyon.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.eskalasyon.deger" for="field_deger">Deger</label>
                    <input type="number" class="form-control" name="deger" id="field_deger"
                        [(ngModel)]="eskalasyon.deger" required/>
                    <div [hidden]="!(editForm.controls.deger?.dirty && editForm.controls.deger?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.deger?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.deger?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.eskalasyon.tarih" for="field_tarih">Tarih</label>
                    <div class="input-group">
                        <input id="field_tarih" type="text" class="form-control" name="tarih" ngbDatepicker  #tarihDp="ngbDatepicker" [(ngModel)]="eskalasyon.tarih"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="tarihDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.tarih?.dirty && editForm.controls.tarih?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tarih?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="defterTakipApp.eskalasyon.turu" for="field_turu">Turu</label>
                    <select class="form-control" id="field_turu" name="turu" [(ngModel)]="eskalasyon.turu"  required>
                        <option *ngIf="!editForm.value.turu" [ngValue]="null" selected></option>
                        <option [ngValue]="eskalasyonTuruOption.id === eskalasyon.turu?.id ? eskalasyon.turu : eskalasyonTuruOption" *ngFor="let eskalasyonTuruOption of eskalasyonturus; trackBy: trackEskalasyonTuruById">{{eskalasyonTuruOption.ad}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.turu?.dirty && editForm.controls.turu?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.turu?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
