<div>
    <h2 id="page-heading">
        <span jhiTranslate="defterTakipApp.personelIzin.home.title">Personel Izins</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-personel-izin" [routerLink]="['/personel-izin/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="defterTakipApp.personelIzin.home.createLabel">
            Create new Personel Izin
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="personelIzins">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="defterTakipApp.personelIzin.tarih">Tarih</span></th>
            <th><span jhiTranslate="defterTakipApp.personelIzin.miktar">Miktar</span></th>
            <th><span jhiTranslate="defterTakipApp.personelIzin.turu">Turu</span></th>
            <th><span jhiTranslate="defterTakipApp.personelIzin.dosya">Dosya</span></th>
            <th><span jhiTranslate="defterTakipApp.personelIzin.personel">Personel</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let personelIzin of personelIzins ;trackBy: trackId">
                <td><a [routerLink]="['/personel-izin', personelIzin.id, 'view' ]">{{personelIzin.id}}</a></td>
                <td>{{personelIzin.tarih | date:'mediumDate'}}</td>
                <td>{{personelIzin.miktar}}</td>
                <td jhiTranslate="{{'defterTakipApp.IzinTuru.' + personelIzin.turu}}">{{personelIzin.turu}}</td>
                <td>
                    <a *ngIf="personelIzin.dosya" (click)="openFile(personelIzin.dosyaContentType, personelIzin.dosya)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="personelIzin.dosya">{{personelIzin.dosyaContentType}}, {{byteSize(personelIzin.dosya)}}</span>
                </td>
                <td>
                    <div *ngIf="personelIzin.personel">
                        <a [routerLink]="['../personel', personelIzin.personel?.id, 'view' ]" >{{personelIzin.personel?.ad}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/personel-izin', personelIzin.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/personel-izin', personelIzin.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'personel-izin', { outlets: { popup: personelIzin.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
